/* AboutUs.css */
.about-us-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    font-size: 20px;
    font-style: italic;
    color:rgb(237, 239, 240);
    box-shadow: 0px 0px 7px;
    border-radius: 10px;
    margin-top: 30px;
  }
  
  .team-members {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
  }
  
  .team-member {
    margin-top: 50px;
    text-align: center;
    font-size: large;
    
  }
  
  .team-member-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  fieldset{
    background-color: rgb(58, 61, 61);
    opacity: 0.9;
    border-radius: 10px;
  }  